.movie_card_wrapper {
    width: auto;
    border: .04rem solid rgb(64, 101, 101);
}

img.poster_size {
    width: 100%;
    /* max-height: 2.5rem; */
    margin-bottom: .5rem;
}

#movie_card_title {
    font-size: 1.5rem;
}
.movie_card_info {
    padding: .5rem;
    padding-top: 0;
}

@media screen and (min-width: 320px) {
    .movie_card_wrapper {
        max-width: 16rem;
    }
    #movie_card_title {
        font-size: 1.35rem;
    }
}